body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ManagementTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ManagementTitle h1 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Source Sans Pro";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 20.833% */
    letter-spacing: -0.23px;
}

.ManagementTitle p {
    width: 1226px;
    height: 28px;
    flex-shrink: 0;

    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 41.667% */
    letter-spacing: -0.23px;
}

.form_fill_container button {
    top: 257px;
    left: 90px;
    position: absolute;
    width: 408px;
    height: 63px;
    flex-shrink: 0;

    border-radius: 34px;
    background: #007AFF;
}

.form_fill_container span {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 55.556% */
    letter-spacing: -0.23px;
}

h3 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Source Sans Pro";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 31.25% */
    letter-spacing: -0.23px;
}

.drag_and_drop {
    width: 1074px;
    height: 212px;
    flex-shrink: 0;
}

.drag_and_drop_label {
    display: flex;
    width: 156px;
    height: 38px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-shrink: 0;

    border-radius: 7px;
    background: var(--Colors-Blue, #007AFF);
}