<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url={{ url_for('main.index') }}">
    <link type="image/x-icon"
        href="https://jnrcnizvaihqtkeynkjk.supabase.co/storage/v1/object/public/webimages/icons/icon.svg"
        rel="shortcut icon">
    <link rel="stylesheet" href="/static/Styles/startup.css">
</head>

<body>
    <div class="splash">
        <img src="https://jnrcnizvaihqtkeynkjk.supabase.co/storage/v1/object/public/webimages/icons/slt-logo.svg"
            alt="Logo" id="splash_logo">
        <!-- <div class="splash_text">
            <h1>Welcome to SLT-MOBITEL</h1>
            <p>Connecting you to the world</p>
        </div> -->
    </div>
    <script src="/static/Scripts/startup.js"></script>
</body>

</html>